<h4>Object life cycle</h4>
<div class="object-life-cycle-graph">
    <p>Object life cycle graph</p>
</div>

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">V</i>
</span>
New version &nbsp;

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">A</i>
</span>
Archived &nbsp;

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">R</i>
</span>
Restored from archive &nbsp;
<hr>
