{namespace dash=Dkd\Contentdashboard\ViewHelpers}
<h4>Object life cycle</h4>
<div class="life-cycle-graph" id="olg{object.objectId -> dash:format.htmlId()}"
     data-url="{f:uri.action(action: 'lifeCycleData', controller: 'DashboardAjax', arguments: '{objectId: object.objectId}')}">
</div>

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">V</i>
</span>
New version &nbsp;

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">A</i>
</span>
Archived &nbsp;

<span class="fa-stack">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-stack-1x">R</i>
</span>
Restored from archive &nbsp;
<hr>
