{namespace cmis=Dkd\CmisService\ViewHelpers}
<div class="sectionDetail">
    <h4>Update history</h4>
    <table class="table tableUpdateHistory">
        <tr>
            <th>Time</th>
            <th>Action</th>
            <th>Author</th>
        </tr>
        <f:for each="{updateHistoryData}" as="dataEntry">
            <tr>
                <td>{dataEntry.time -> f:format.crop(maxCharacters: 19) -> f:format.date(format:'d.m.Y - H:i:s')}</td>
                <td>{dataEntry.action}</td>
                <td>{dataEntry.authorUuid -> cmis:object.get() -> cmis:object.propertyValue(property: 'cmis:name')}</td>
            </tr>
        </f:for>
    </table>
</div>
