<f:layout name="Default" />

<f:section name="Buttons">
    <!-- buttons -->
</f:section>

<f:section name="Main">
    <h1><f:translate key="dashboard.assets.title" /></h1>
    <h3>Folder: <f:link.action action="index" arguments="{folder: folder.id}">{folder.name}</f:link.action></h3>
    <f:alias map="{parentFolder: folder.folderParent}">
        <f:if condition="{parentFolder}">
            <h4>Parent folder: <f:link.action action="index" arguments="{folder: parentFolder.id}">{parentFolder.name}</f:link.action></h4>
        </f:if>
    </f:alias>
    <div id="dashboard-asset-list">
        {f:render(partial: 'Asset/Brief', arguments: '{_all}') -> f:for(each: folder.children, as: 'object', iteration: 'iteration')}
    </div>
</f:section>
