{namespace dash=Dkd\Contentdashboard\ViewHelpers}
<div class="container asset asset-brief">
    <h4>
        <f:if condition="{object.baseType.id} == 'cmis:folder'">
            <f:then>
                <f:link.action action="index" arguments="{folder: object.id}">
                    {object.name}
                </f:link.action>
            </f:then>
            <f:else>
                <a href="#vh{object.id -> dash:format.htmlId()}" data-href="{f:uri.action(action: 'detail', arguments: '{objectId:  object.id}')}"
                   class="pull-right text-muted text-lead object-detail-trigger">
                    <i class="t3icon fa fa-chevron-right icon icon-chevron-right glyphicon glyphicon-chevron-right"></i>
                </a>

                <a href="#vh{object.id -> dash:format.htmlId()}" data-href="{f:uri.action(action: 'detail', arguments: '{objectId:  object.id}')}"
                   class="object-detail-trigger">
                    {object.name}
                </a>
            </f:else>
        </f:if>
    </h4>
    <div class="row">
        <div class="col-xs-6">
            <img src="" class="dummy-image" />
        </div>
        <div class="col-xs-6 asset-brief-meters">
            <h4><f:translate key="dashboard.assets.values" /></h4>
            <f:render partial="Asset/Meters" arguments="{_all}" />
        </div>
    </div>
    <div class="value-history" id="vh{object.id -> dash:format.htmlId()}"></div>
</div>
