{namespace dash=Dkd\Contentdashboard\ViewHelpers}
<div class="container asset asset-brief">
    <h4>
        <f:if condition="{object.baseType.id} == 'cmis:folder'">
            <f:then>
                <f:link.action action="index" arguments="{folder: object.id}">
                    {object.name}
                </f:link.action>
            </f:then>
            <f:else>
                <a href="#vh{object.id -> dash:format.htmlId()}" data-href="{f:uri.action(action: 'detail', arguments: '{objectId:  object.id}')}"
                   class="pull-right text-muted text-lead object-detail-trigger">
                    <i class="t3icon fa fa-chevron-right icon icon-chevron-right glyphicon glyphicon-chevron-right"></i>
                </a>

                <a href="#vh{object.id -> dash:format.htmlId()}" data-href="{f:uri.action(action: 'detail', arguments: '{objectId:  object.id}')}"
                   class="object-detail-trigger">
                    {object.name}
                </a>
            </f:else>
        </f:if>
    </h4>
    <div class="row">
        <div class="col-xs-2">
            <div class="contentdashboard-item-image-container">
                <f:if condition="{object.baseType.id} == 'cmis:folder'">
                    <f:then>
                        <f:link.action action="index" arguments="{folder: object.id}">
                            <img src="{f:uri.resource(path:'Icons/Folder.svg')}" class="contentdashboard-item-image" />
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <div class="contentdashboard-item-action-buttons">
                            <f:link.action action="preserve" arguments="{cmisObjectId: object.id, folder: folder.id}" class="contentdashboard-item-action-buttons--link">Add to Archive</f:link.action>
                            <f:link.action action="delete" arguments="{cmisObjectId: object.id}" class="contentdashboard-item-action-buttons--link m-bg-gray">Delete</f:link.action>
                        </div>
                        <f:if condition="{dash:cmis.rendition.thumbnailUri(cmisObject: '{object}')}">
                            <f:then>
                                <img src="{dash:cmis.rendition.thumbnailUri(cmisObject: '{object}')}" class="contentdashboard-item-image" />
                            </f:then>
                            <f:else>
                                <img src="{f:uri.resource(path:'Icons/File.svg')}" class="contentdashboard-item-image" />
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </div>
        <div class="col-xs-5">
            <h4><f:translate key="dashboard.assets.metaData" /></h4>
            <f:if condition="{dash:cmis.object.propertyValue(cmisObject: object, property: 'exif:dateTimeOriginal')}">
                <f:then>Creation date (exif): <f:format.date format="d.m.Y - H:i:s"><dash:cmis.object.propertyValue cmisObject="{object}" property="exif:dateTimeOriginal" /></f:format.date></f:then>
                <f:else>Creation date: <f:format.date format="d.m.Y - H:i:s"><dash:cmis.object.propertyValue cmisObject="{object}" property="cmis:creationDate" /></f:format.date></f:else>
            </f:if>
            <br />
            Created By: <dash:cmis.object.propertyValue cmisObject="{object}" property="cmis:createdBy" /><br />
            CMIS Id: <input value="{dash:cmis.object.propertyValue(cmisObject: '{object}', property: 'cmis:objectId')}" onclick="this.select()" class="contentdashboard-item-attribute-cmisid" /><br />
        </div>
        <div class="col-xs-5 asset-brief-meters">
            <h4><f:translate key="dashboard.assets.values" /></h4>
            <f:render partial="Asset/Meters" arguments="{_all}" />
        </div>
    </div>
    <div class="value-history" id="vh{object.id -> dash:format.htmlId()}"></div>
</div>
