{namespace dash=Dkd\Contentdashboard\ViewHelpers}
<h2>
	  <f:if condition="{folder.folderParent}">
		    <f:link.action action="index" arguments="{folder: folder.folderParent.id}">{folder.folderParent.name}</f:link.action> /
	  </f:if>
	  <f:link.action action="index" arguments="{folder: folder.id}">{folder.name}</f:link.action>
</h2>

<f:render partial="Asset/Detail" arguments="{object: folder, socialCounter: socialCounter, updateHistoryData: updateHistoryData}" />

<div class="pull-right">
	<f:render partial="SortingForm" />
</div>

<h3>
	  <f:translate key="dashboard.assets.contentlist" />
</h3>


<div id="dashboard-asset-list">
	  {f:render(partial: 'Asset/Brief', arguments: '{_all}')
		-> f:for(each: '{folder.children -> dash:sortArray(
			sortBy: \'{dash:sessionVariable(set: \\'contentdashboard_sorting\\', name: \\'sortBy\\')}\',
			direction: \'{dash:sessionVariable(set: \\'contentdashboard_sorting\\', name: \\'direction\\')}\')}',
		as: 'object', iteration: 'iteration')}
</div>
