{namespace dash=Dkd\Contentdashboard\ViewHelpers}
{namespace cmis=Dkd\CmisService\ViewHelpers}

<div class="row">
    <div class="col-xs-4">
        <f:translate key="dashboard.assets.values.preservation" />:
    </div>
    <div class="col-xs-8 meter-container">
        <dash:meter value="{cmis:object.propertyValue(cmisObject: object, property: 'dkd:typo3:forgettable:preservation_value')}" />
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <f:translate key="dashboard.assets.values.buoyancy" />:
    </div>
    <div class="col-xs-8 meter-container">
        <dash:meter value="{cmis:object.propertyValue(cmisObject: object, property: 'dkd:typo3:forgettable:memory_buoyancy')}" />
    </div>
</div>
