.typo3-messages {
    margin-bottom: 20px;
}

.contentdashboard-container {
    padding: 0;
    margin: 0;
}

.contentdashboard-container > h2 {
    margin-top: 0;
}

.contentdashboard-item-image-container {
    position: relative;
    max-width: 130px;
}

.contentdashboard-item-image {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #FFF;
}

/*.contentdashboard-item-image:hover {
    background-color: #666666;
}*/

.contentdashboard-item-action-buttons {
    position: absolute;
    width: 100%;
    display: none;
    top: 50%;
    transform: translateY(-50%);
}

.contentdashboard-item-image-container:hover .contentdashboard-item-action-buttons {
    display: inline;
}

.contentdashboard-item-action-buttons--link, .contentdashboard-item-action-buttons--link:hover,
.contentdashboard-item-action-buttons--link:active {
    color: white;
    display: block;
    width: 90%;
    height: 30px;
    line-height: 20px;
    margin: 10px auto;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF8702;
    border-radius: 4px;
}

.contentdashboard-item-action-buttons--link.m-bg-gray {
    background-color: #ECECEC;
    color: #333;
    border-radius: 4px;
}

.contentdashboard-item-attribute-cmisid {
    width: 100%;
    max-width: 285px;
    border: 1px solid #b9b9b9;
    border-radius: 0px;
}

.asset-brief {
    /*padding-bottom: 15px;*/
    border-bottom: 1px solid #CCCCCC;
}

.asset-brief:hover, .asset-brief.active {
    background-color: #ECECEC;
}


.asset-brief:focus {
    background-color: #E7EBEE;
}

.asset-brief-meters {
    border-left: 1px solid #cccccc;
    padding-bottom: 0.8em;
    height: 130px;
}

.meter-container {
    font-style: italic;
}

ul.meter {
    list-style-type: none;
    padding-left: 0px;
    margin: 2px 5px 0px 0px;
    display: inline-block;
}

ul.meter li {
    display: block;
    float: left;
    width: 0.6em;
    height: 1.2em;
    border: 1px solid #000000;
    margin-right: 3px;
}

ul.meter li.filled {
    border-color: #666666;
    background-color: #666666;
}

ul.meter li.empty {
    border-color: #b5b5b5;
}

.object-detail-trigger.opened i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.value-history .tab-pane {
    padding-top: 1em;
}


h3, h4 {
    font-family: "Share", "verdana", sans-serif;
}

.labels {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;
}

hr, div.hr {
    border-top: 1px solid #dddddd;
}


/*Styling Table */
th {
    background-color: #eaeaea;
}

.tableRelations {
    border-bottom: 1px solid #dddddd;
}

th {
    border-top: none;
}

/*Styling social Media Icons */
.fa-facebook-official {
    color: #3C5A99;
}


.fa-twitter-square {
    color: #42C0FB;
}


.fa-google-plus-square{
    color: #DD4B39;
}



.sectionDetail {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
}


.fa-circle-thin {
    color: #adadad;
}

