.contentdashboard-container {
    padding: 0;
    margin: 0;
}

.contentdashboard-container > h2 {
    margin-top: 0;
}

.contentdashboard-item-image-container {
    position: relative;
    max-width: 130px;
}

.contentdashboard-item-image {
    width: 100%;
    border: 1px solid #333333;
}

.contentdashboard-item-action-buttons {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    display: none;
}

.contentdashboard-item-image-container:hover .contentdashboard-item-action-buttons {
    display: inline;
}

.contentdashboard-item-action-buttons--link, .contentdashboard-item-action-buttons--link:hover,
.contentdashboard-item-action-buttons--link:active {
    color: white;
    display: block;
    width: 90%;
    height: 30px;
    line-height: 20px;
    margin: 10px auto;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: teal;
    border: 1px solid #333;
}

.contentdashboard-item-action-buttons--link.m-bg-gray {
    background-color: #ECECEC;
    color: #333;
}

.asset-brief {
    padding-bottom: 2em;
    border-bottom: 1px solid #CCCCCC;
}

.asset-brief:hover {
    background-color: #ECECEC;
}

.asset-brief-meters {
    border-left: 1px solid #666666;
    padding-bottom: 0.8em;
}

.meter-container {
    font-style: italic;
}

ul.meter {
    list-style-type: none;
    padding-left: 0px;
    margin: 5px 5px 0px 0px;
    display: inline-block;
}

ul.meter li {
    display: block;
    float: left;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #000000;
    margin-right: 3px;
}

ul.meter li.filled {
    border-color: #999999;
    background-color: #999999;
}

ul.meter li.empty {
    border-color: #DDDDDD;
}

.object-detail-trigger.opened i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.value-history .tab-pane {
    padding-top: 1em;
}
