.life-cycle-graph {
    border: 1px solid #eaeaea;
    background-image: #ffffff;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 10px;
    height: 210px;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: auto;
    padding: 0 10px;
    white-space: nowrap;
    width: 100%;
}
.life-cycle-graph .axis path, .axis line, .sline {
    fill: none;
    stroke: #cccccc;
    shape-rendering: crispEdges;
}
.life-cycle-graph .letter {
    fill: #ffffd0;
    stroke-width: 0.5
}
.life-cycle-graph .precise {
    stroke: #333333;
}
.life-cycle-graph .notprecise {
    stroke: #ff2c00;
}
.life-cycle-graph .link {
    fill:none;
    stroke:grey;
    stroke-width:1
}
.life-cycle-graph .arrowhead {
    stroke: grey;
    fill: grey;
    stroke-width:1
}
.life-cycle-graph .bar {
    fill: #fff;
}
.life-cycle-graph .fromR {
    fill: #fff;
}
.life-cycle-graph .fromF {
    fill: #fff;
}
.life-cycle-graph .monthaxis {
    font-size: 300%;
}
.life-cycle-graph text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}
.life-cycle-graph .tooltip {
    pointer-events:none;
    opacity:0;
    transition: opacity 0.5s;
}
.life-cycle-graph .tooltip.open {
    opacity:1;
}

.life-cycle-graph .tooltip .tooltipbg {
    background: #ffffff;
    position: absolute;
    fill: #fff;
    stroke: #666666;
    stroke-width: 0.5;
}

/*Edit Valeriya Krasteva*/

.button-tabs {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    margin: 0px;
}

.button-tabs:active {
    background-color: #dddddd;
    box-shadow: none;
    top: 0px;
}
